# Ignoriraj __pycache__ direktorije i Python privremene datoteke
__pycache__/
*.pyc
*.pyo

# Ignoriraj build direktorij generiran PyInstallerom
build/

# Ignoriraj sve u dist/ osim generirane izvršne datoteke
dist/*
!dist/main/*

# Ignoriraj logove i privremene datoteke
*.log
*.tmp

# Ignoriraj virtualna okruženja
venv/
.env/

# Specifične platforme (Windows/Mac/Linux)
*.DS_Store
Thumbs.db
